@using PagedList.Mvc;
@{
    ViewBag.Title = "资产属性维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small></small>
    </h1>
    <div class="pull-right header-r-toolbar">
        <a class="btn btn-primary" href="@Url.Action("Edit", "AssetAttribute")">新增</a>
    </div>
</section>
<section class="content">
    @{
        Html.Kendo().Grid<MissionskyOA.Models.AssetAttributeModel>()
            .Name("grid")
            .Columns(cols =>
            {
                cols.Bound(c => c.Id).Title("#").Sortable(false);
                cols.Bound(c => c.Name).Title("名称");
                cols.Bound(c => c.Description).Title("描述");
                cols.Bound(c => c.DataType).Title("类型").ClientTemplate(@"#:displayDataType(DataType)#"); ;
                cols.Bound(c => c.Sort).Title("序号").Sortable(true);
                cols.Bound(c => c.Id).Title("操作").ClientTemplate(
@"<a class='btn btn-link' href='" + @Url.Action("Edit", "AssetAttribute", new { id = "#:Id#" }) + "'>编辑</a><a class='btn btn-link' onclick='deleteItem(#:Id#)'>删除</a>")
.Sortable(false);
            })
            .Sortable(f => f.AllowUnsort(true))
            .Pageable(pageable => pageable.Refresh(true))
            .DataSource(datasource => datasource.Ajax()
                .PageSize(15)
                .Read(read => read.Action("Read", "AssetAttribute"))
                )
            .Render();
    }
</section>

<div class="modal fade modal-center" id="assetAttrDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                确定删除?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="my-dialog-yes" data-area="" class="btn btn-primary" data-dismiss="modal">Yes</button>
                @Html.Hidden("deleteId", "")
            </div>
        </div>
    </div>
</div>

@section pagescript{
    <script>
        $(document).ready(function () {
            $("#my-dialog-yes").on("click", function () {
                var id = $("#deleteId").val();
                if (id != "") {
                    var url = "@Url.Action("Delete", "AssetAttribute")" + "/" + id;
                    $.post(url, null, function (data) {
                        if (data && data.error) {
                            alert(data.error);
                        }
                        $(".k-pager-refresh").click();
                    });

                }
            });

            $('#assetAttrDialog').on('hide.bs.modal', function (event) {
                $("#deleteId").val("");
            });
        });

        function deleteItem(id) {
            $("#deleteId").val(id);
            $('#assetAttrDialog').modal();
        }

        function displayDataType(type) {
            var result = "";
            switch (type) {
                case 0:
                    result = "整数";
                    break;
                case 1:
                    result = "小数";
                    break
                case 2:
                    result = "字符";
                    break;
                case 3:
                    result = "日期";
                    break;
                default:
                    result = "";
                    break;
            }
            return result;
        }
    </script>
}