@using MissionskyOA.Core.Enum;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MissionskyOA.Models.AssetTypeModel
<section class="content-header">
    <h1>
        设置资产类别属性
        <small></small>
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
            </div>
        </div><!-- /.box-header -->
        @Html.LabelFor(m => m.Name, Model.Name)
        @using (Html.BeginForm("SetAttributes", "AssetType", FormMethod.Post))
        {
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-5 text-right">
                        待选属性
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        已选属性
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 text-right">
                        @Html.ListBox("SourceAttributes", ViewBag.SourceAttributes as IEnumerable<SelectListItem>, new { style = "width:200px; min-height:400px;", id = "sourceList" })
                    </div>
                    <div class="col-sm-2 text-center" style="margin-top:200px;">
                        <ul class="list-unstyled">
                            <li><button type="button" class="btn btn-default" id="btnAdd" onclick="dealOption('add');"><i class="glyphicon glyphicon-chevron-right" title="添加"> </i></button></li>
                            <li>&nbsp;</li>
                            <li><button type="button" class="btn btn-default" id="btnRemove" onclick="dealOption('remove');"><i class="glyphicon glyphicon-chevron-left" title="移除"> </i></button></li>
                        </ul>
                    </div>
                    <div class="col-sm-5 text-left">
                        @Html.ListBoxFor(m => m.Attributes, ViewBag.Attributes as IEnumerable<SelectListItem>, new { style = "width:200px; min-height:400px;", id = "checkedList" })
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-default" value="cancel" id="btnCancel" name="Submit">取消</button>
                        <button type="button" class="btn btn-info" value="save" onclick="save();">提交</button>
                    </div>
                </div>
            </div><!-- /.box-body -->
            @Html.HiddenFor(m => m.Id)
        }

    </div><!-- /.box -->
</section>

<div class="modal fade modal-center" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

@section pagescript{
    <script>
        function showMessage() {
            var message = '@(string.IsNullOrEmpty(ViewBag.Message)?"":ViewBag.Message)';
            if (message != "") {
                $('#messageModal').modal();
            }
        }
        showMessage();

        function dealOption(type) {
            var addValue = $("#sourceList option:selected");
            var removeValue = $("#checkedList option:selected");
            switch (type) {
                case 'add':
                    if (addValue) {
                        addValue.appendTo($("#checkedList"));
                        $("#sourceList option:selected").remove();
                    }
                    break;
                case 'remove':
                    if (removeValue) {
                        removeValue.appendTo($("#sourceList"));
                        $("#checkedList option:selected").remove();
                    }
                    break;
                default:
                    break;
            }
        }

        function save()
        {
            var url = "@Url.Action("SetAttributes", "AssetType")";
            var postBody={
                Id:@Model.Id,
                Attributes:[]
            };
            $.each($("#checkedList option"), function (i, item) {
                postBody.Attributes.push(
                    {
                        Id:$(item).val()
                    }
                    );
            });
            $.post(url,postBody, function (data) {
                if (data && data.error) {
                    alert(data.error);
                }
                else
                {
                    window.location.href="@Url.Action("Index", "AssetType")";
                }
            });
        }
    </script>
}

