@using MissionskyOA.Portal.Common
@using PagedList.Mvc;
@{
    ViewBag.Title = "报表管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small></small>
    </h1>
    <div class="pull-right header-r-toolbar">
        <a class="btn btn-primary" href="@Url.Action("Edit", CmnConstants.MENU_REPORT)">创建报表</a>
    </div>
</section>
<section class="content">
    @{
        Html.Kendo().Grid<MissionskyOA.Models.ReportModel>()
            .Name("grid")
            .Columns(cols =>
            {
                cols.Bound(c => c.Id).Title("#").Sortable(false);
                cols.Bound(c => c.Name).Title("名称");
                cols.Bound(c => c.Desc).Title("说明");
                cols.Bound(c => c.CreatedTime).Format("{0:G}").Title("创建日期");
                cols.Bound(c => c.Id).Title("操作").ClientTemplate(
@"<a class='btn btn-link' href='" + @Url.Action("Edit", CmnConstants.MENU_REPORT, new { id = "#:Id#" }) + "'>编辑</a><a class='btn btn-link' onclick='deleteItem(#:Id#)'>删除</a>")
.Sortable(false);
            })
            .Sortable(f => f.AllowUnsort(true))
            .Pageable(pageable => pageable.Refresh(true))
            .DataSource(datasource => datasource.Ajax()
                .PageSize(10)
                .Read(read => read.Action("Read", CmnConstants.MENU_REPORT))
                )
            .Render();
    }
</section>

<div class="modal fade modal-center" id="userDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                确定删除?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="my-dialog-yes" data-area="" class="btn btn-primary" data-dismiss="modal">Yes</button>
                @Html.Hidden("deleteId", "")
            </div>
        </div>
    </div>
</div>

@section pagescript{
    <script>
        $(document).ready(function () {
            $("#my-dialog-yes").on("click", function () {
                var id = $("#deleteId").val();
                if (id != "") {
                    var url = "@Url.Action("Delete", CmnConstants.MENU_REPORT)" + "/" + id;
                    $.post(url, null, function (data) {
                        if (data && data.error) {
                            alert(data.error);
                        }
                        $(".k-pager-refresh").click();
                    });

                }
            });

            $('#userDialog').on('hide.bs.modal', function (event) {
                $("#deleteId").val("");
            });
        });

        function deleteItem(id) {
            $("#deleteId").val(id);
            $('#userDialog').modal();
        }

        function HideControl(fieldName, e) {
            var cont = $(e.container);
            HideFieldLabel(cont.find("label[for='" + fieldName + "']"));
            HideFieldField(cont.find("#" + fieldName));
        }

        function HideFieldLabel(control) {
            control.parent(".editor-label").hide();
        }

        function HideFieldField(control) {
            control.parent(".editor-field").hide();
        }

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}
<style>
    .k-edit-field, .k-edit-form-container .editor-field {
        padding-top: 10px !important;
    }
</style>