@using MissionskyOA.Core.Enum;
@model MissionskyOA.Portal.Models.AssetImport
<section class="content-header">
    <h1>
        导入资产信息
        <small></small>
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
            </div>
        </div><!-- /.box-header -->
        @using (Html.BeginForm("Import", "Asset", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.TypeId, "类别", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.TypeId, ViewBag.Types as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TypeId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DataFile, "Excel文件", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @(Html.Kendo().Upload().Name("file").HtmlAttributes(new { @class = "form-control" }).Multiple(false))
                        @Html.ValidationMessageFor(m => m.DataFile)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
                <div id="assetFields"></div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-info" value="save" name="Submit">提交</button>
                        <button type="submit" class="btn btn-default" value="cancel" name="Submit">返回</button>
                    </div>
                </div>
            </div><!-- /.box-body -->
        }

    </div><!-- /.box -->
</section>

<div class="modal fade modal-center" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

@section pagescript{
    <script>
        //后台消息弹出
        function showMessage() {
            var message = '@(string.IsNullOrEmpty(ViewBag.Message)?"":ViewBag.Message)';
            if (message != "") {
                $('#messageModal').modal();
            }
        }
        showMessage();
    </script>
}

