@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MissionskyOA.Models.MeetingRoomModel
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small></small>
    </h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
            </div>
        </div><!-- /.box-header -->
        @using (Html.BeginForm("edit", "Meeting", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.MeetingRoomName, "会议室名", new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.MeetingRoomName, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.MeetingRoomName)
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Equipment, "会议室设备", new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.Equipment, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Equipment)
                    </div>
                </div>
            
                <div class="form-group">
                    @Html.LabelFor(m => m.Capacity, "可容纳人数", new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Capacity)
                    </div>

                </div>
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Status, "状态", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.RadioButtonFor(m => m.Status, 1, new { @id = "meetingRoomAble", @name = "Able" })<label for="meetingRoomAble">启用</label>
                        @Html.RadioButtonFor(m => m.Status, 0, new { @id = "meetingRoomUnable", @name = "Unable" })<label for="meetingRoomUnable">禁用</label>
                        @Html.ValidationMessageFor(m => m.Status)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Remark, "备注", new { @class = "col-sm-2 control-label" })
                    <div class="col-xs-3">
                        @Html.TextBoxFor(m => m.Remark, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Remark)
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-default" value="cancel" name="Submit">取消</button>
                        <button type="submit" class="btn btn-info" value="save" name="Submit">提交</button>
                    </div>
                </div>
            </div><!-- /.box-body -->
            @Html.HiddenFor(m => m.Id)
        }

    </div><!-- /.box -->
</section>

<div class="modal fade modal-center" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Alert</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

@section pagescript{
    <script>

        function showMessage() {
            var message = '@(string.IsNullOrEmpty(ViewBag.Message)?"":ViewBag.Message)';
            if (message != "") {
                $('#messageModal').modal();
            }
        }
        showMessage();
    </script>
}